[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.5"
djangorestframework = "==3.14.0"
mysqlclient = "*"
pytz = "==2023.3.post1"
sqlparse = "==0.4.4"
tzdata = "==2023.3"
python-dotenv = "*"
django-filter = "*"
ipython = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
graphene-django = "*"
graphene-django-filter = "*"
django-graphql-jwt = "*"
django-graphql-auth = "*"
drf-yasg = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
daphne = "*"
channels = "*"
djangochannelsrestframework = "*"
channels-redis = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.11"
